@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow: hidden; /* Prevent double scrolling */
  height: 100%;
}
@media (max-width: 768px) {
  /* Make sidebar collapse automatically on mobile */
  .sidebar {
    width: 16px;
  }

  /* Hide text in sidebar on mobile */
  .sidebar span {
    display: none;
  }
}

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

